.card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card-item {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	max-width: 420px;
	min-height: 380px;
}

.card-item-left {
	padding: 30px;
}

.card-item-right-wrap {
	padding: 30px;
}

.card-item-right {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	padding: 30px;
	padding-bottom: 60px;
}

.card-item-sub:not(:last-of-type) {
	margin-bottom: 30px;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 6px;
	border-radius: 2px;
	padding: 14px 16px;
}

.input-container:hover {
	box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.focus {
	box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.active {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

.warning {
	box-shadow: 0 0 0 1.5px hsl(359, 100%, 65%);
}

.icon-dollar {
	margin-right: 14px;
	background-image: url(../images/icon-dollar.svg);
	background-size: contain;
	width: 11px;
	height: 17px;
}

.icon-people {
	margin-right: 14px;
	background-image: url(../images/icon-person.svg);
	background-size: contain;
	width: 13px;
	height: 16px;
}

.input-custom {
	flex-grow: 1;
	outline: none;
	border: none;
	width: 50px;
	text-align: right;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.percent-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	/* gitter 实现 */
	margin: 0 -6px;
}

.percent-item {
	box-sizing: content-box;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 6px;
	border-radius: 3px;
	padding: 3px 30px;
	width: 45px;
}

.percent-item:not(:last-of-type):hover {
	background-color: hsl(173, 71%, 73%);
	color: hsl(183, 100%, 15%);
}

.percent-item:last-of-type:hover {
	box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.result-num {
	flex-grow: 1;
	text-align: right;
}

.btn-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	height: 50px;
}

.btn-reset:hover {
	background-color: hsl(173, 71%, 73%);
}
