.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  width: 100vw;
  max-width: 900px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  min-height: 300px;
}

.card-item-left {
  flex-shrink: 1;
  padding: 20px;
}

.card-item-right {
  box-sizing: border-box;
  padding: 30px;
  min-width: 345px;
  flex-shrink: 0;
  padding-bottom: 60px;
}

.card-item-sub:not(:last-of-type) {
  margin-bottom: 30px;
}

.input-container {
  border-radius: 2px;
  padding: 14px 16px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container:hover {
  box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.focus {
  box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.warning {
  box-shadow: 0 0 0 1.5px hsl(359, 100%, 65%);
}

.icon-dollar {
  background-image: url(../images/icon-dollar.svg);
  background-size: contain;
  width: 11px;
  height: 17px;
  margin-right: 14px;
}

.icon-people {
  background-image: url(../images/icon-person.svg);
  background-size: contain;
  width: 13px;
  height: 16px;
  margin-right: 14px;
}

.input-custom {
  border: none;
  outline: none;
  text-align: right;
  flex-grow: 1;
}

.percent-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gitter 实现 */
  margin: 0 -6px;
}

.percent-item {
  width: 45px;
  padding: 3px 30px;
  border-radius: 3px;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 6px;
}

.percent-item:not(:last-of-type):hover {
  background-color: hsl(173, 71%, 73%);
  color: hsl(183, 100%, 15%);
}

.percent-item:last-of-type:hover {
  box-shadow: 0 0 0 2px hsl(172, 31%, 51%);
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-num {
  flex-grow: 1;
  text-align: right;
}

.btn-reset {
  height: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reset:hover {
  background-color: hsl(173, 71%, 73%);
}
