@import '../../base.scss';

.container {
	box-sizing: border-box;
	max-width: 900px;
	min-height: 100vh;
	margin: auto;

	display: grid;

	padding: 60px 20px;
	align-content: center;
	justify-items: center;

	grid-template-columns: repeat(4, minmax(100px, 1fr));

	grid-row-gap: 20px;
	grid-column-gap: 20px;

	@media only screen and (max-width: 750px) {
		& {
			grid-template-columns: auto;
		}
	}
}

.item {
	@extend .radius;
	box-sizing: border-box;
	height: 200px;

	@media only screen and (max-width: 750px) {
		& {
			width: 100%;
			max-width: 450px;
			height: 160px;
		}
	}
}

.item-profile {
	height: 420px;
	grid-row-start: 1;
	grid-row-end: 3;

	background-color: $dark-blue;

	@media only screen and (max-width: 750px) {
		& {
			grid-row-end: 1;
			height: 160px;
		}
	}
}

.item:not(:nth-of-type(1)) {
	background-color: $dark-blue;
	background-position: right 18px top -6px;
	background-repeat: no-repeat;
	background-size: 60px auto;
	padding-top: 40px;
}

.item:nth-of-type(2) {
	background-color: $ligh-red;
	background-image: url('../../assets/images/icon-work.svg');
}

.item:nth-of-type(3) {
	background-color: $soft-blue;
	background-image: url('../../assets/images/icon-play.svg');
}

.item:nth-of-type(4) {
	background-color: $light-red;
	background-image: url('../../assets/images/icon-study.svg');
}

.item:nth-of-type(5) {
	background-color: $lime-green;
	background-position: right 18px top 0px;
	background-image: url('../../assets/images/icon-exercise.svg');
}

.item:nth-of-type(6) {
	background-color: $violet;
	background-position: right 18px top 3px;
	background-image: url('../../assets/images/icon-social.svg');
}

.item:nth-of-type(7) {
	background-color: $soft-orange;
	background-image: url('../../assets/images/icon-self-care.svg');
}
